@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');


:root {
  --myBlue: #a0dde3;
  --myBackground: black;
  --myFont:'Jura'
}

body {
  background-color: var(--myBackground);
  color: var(--myBlue);
  font-family: var(--myFont), sans-serif;
}

.appDiv {
  margin:10%;
}

.headerDiv {
  /* border: 1px solid red; */
  /* margin: 6.5%; */
  /* margin: 5%; */
}

.icon {
  color: var(--myBlue);
}
.icon:hover {
  color: cyan;
  transition-duration: .5s;
}

h1 {
  font-weight: 700;
  font-family: var(--myFont);
  font-size: 35px;
}
h2 {
  font-weight: 600;
  font-family: var(--myFont);
  font-size: 28px;
}
.headerDetails {
  list-style: none;
  padding-left: 0;
  font-size: 23px;
  color:lightgray;
  font-weight: 500;
  line-height:1.2;
  /* word-spacing: 1.2; */
}

a {
  color: #DDADFF;
}

a:hover {
  color: #C370FF;
  transition-duration: .3s;
}

.textDivider {
  color:gray;
}

li {
  margin:.5% 0%;
}
.detailKey {
  color: var(--myBlue);
  font-weight: 700;
  word-spacing: normal;
}

hr {
  border: none;
  border-top: 1px solid darkslategray;
  margin: 3% 0;
}

.projects {
  border: 1px solid red;

}

.projectButtons {

}

.projectImage {
  margin: 3%;
}

.project {
  margin: 3% 2%;
  /* border: 2px solid blue; */
}

#invertedCard {
  background-color: black;
  border: 1px solid black;
  outline: 1px solid black;

}

.ProjectSection {
  margin: 0% 20%;
  padding: 0% 20%;
  /* border:2px solid red; */
}
